<h1>New Artist</h1>

<% if @error_message %>
  <div class="error">
    <%= @error_message %>
  </div>
<% end %>

<%= form_tag artists_path, method: :post do %>
  <div class="">
    <%= label_tag :name %>
    <%= text_field_tag :name, "", class: "field", placeholder: 'New Artist Name' %>
  </div>

  <%= submit_tag %>
<% end %>

<!--
<hr>

<form action="/artists" method="post">

  <div>
    <label for="name">Name</label><br>
    <input type="textfield" name="name" value="" placeholder="The Artist Name">
  </div>

  <input type="submit" name="submit" value="Create Artist">
</form>

-->
