<div class="page-header">

  <h1>Albums <small>By Popularity</small></h1>


</div>



<div class="row">
  <div class="col-xs-8">
    <div class="list-group">
      <% @albums.each do |album| %>
        <%= link_to album_path(id: album.id), class: 'list-group-item' do %>
          <%= album.title %> by <%= album.artist.name %>
          <span class="badge"><%= album.play_count %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-xs-3 col-xs-offset-1">
    <p class="text-right">
      <%= link_to 'New Artist', new_artist_path, class: "btn btn-primary btn-block" %>
      <br><br>
      <%= link_to 'New Album', new_album_path, class: "btn btn-primary btn-block" %>

    </p>
  </div>
</div>
