<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Price
      </th>
      <th>
        Inventory
      </th>
      <th>
        Description
      </th>
      <th>
        View
      </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.name %>
        </td>
        <td>
          <%= number_to_currency product.price %>
        </td>
        <td>
          <%= pluralize product.inventory, product.name %>
        </td>
        <td>
          <%= truncate product.description, length: 140 %>
        </td>
        <td>
          <%= link_to 'View', product_path(id: product.name.parameterize) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
