<h1>New Artist</h1>

<% @artist.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>

<%= form_for @artist do |f| %>
  <div class="">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit %>
<% end %>
