<!DOCTYPE html>
<html>
<head>
  <title>FirstContact</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= debug params %>
<hr>

<h1>Tacos Rule</h1>

<nav>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Contact', contact_path %>
  <%= link_to 'Legal', legal_path %>
  <%= link_to 'About', about_path %>
  <%= link_to 'Team', team_path %>
  <%= link_to 'Products', products_path %>
</nav>

<%= yield %>

<h5>Salads Drool</h5>




</body>
</html>
