<h1>New Artist</h1>

<%= form_for @artist do |f| %>
  <div class="">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="">
    <%= f.label :new_album_name %>
    <%= f.text_field :new_album_name %>
  </div>

  <div class="">
    <%= f.submit %>
  </div>
<% end %>
